<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>
			 Some Website
		</title>

	</head>
	{{> head}} 
	<body>
		<h1><p>{{pagetitle}}<p></h1>
		<p>Some text</p>

		{{> footer}}
	</body>
</html>