<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8">
		<title> Some website</title>
		</head>
		{{> head}}
		<body>
			<p>{{ScreamIt Logo}}</p>
			<p>{{data.name}}</p>
			<p>{{data.likes}}</p>
			{{> footer}}
		</body>
</html>